<%- include('../front/header.ejs') %>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="/assets/images/banne1.jpg" class="d-block w-100" alt="banner1">
	  </div>
	  <div class="carousel-item">
		<img src="/assets/images/banner2.jpg" class="d-block w-100" alt="banner2">
	  </div>
	  <div class="carousel-item">
		<img src="/assets/images/banner3.jpg" class="d-block w-100" alt="banner3">
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
  </div>
    <section class="featured-blog mtb-40">
    	<div class="container">
    		<div class="row">
				<% d.forEach((item)=>{ %>
					<div class="col-md-4">
    				<div class="blog-box">
    					<img src="<%= item.image.url %>" height="233px" width="350px" alt="blog1" />
    					<h3><%= item.title %></h3>
						<p> <%=item.createdAt.toLocaleDateString() %></p>
						<!-- date year month ke liye -->
						<p><%= item.description.slice(0,120) %></p>
						<!-- slice description ka content small krne k liye -->
    					<a href="/blogdetail/<%= item.id %>" class="btn a">Read more...</a>
    				</div>
    			</div>
			<%}) %>
    	</div>
	</div>
</div>
	
    </section>
    <%- include('../front/footer.ejs') %>
    
